body{
  background-color:#add8e6;
  color:#237708;
  font-family: 'Times New Roman', Times, serif;
font: 50px;
}
h1 {
font: 90px;
color:#5D924C;
text-allign: center;
text-decoration: none;
margin:0;
padding:0;

}
#pages2 {
  color:#5D924C;
}
#writings{
  font-family: 'Times New Roman', Times, serif;
font: 50px;
  color:#F07300; 
  }

nav{
  float: right
}
nav ul{
  margin:0;
  padding:0;
  list-style: none;
}
nav li{
  display: inline-block;
  margin-left: 70px;
  position: relative;
}
nav a{
  color:#237708;
  text-decoration: none;
  text-transform: uppercase;
  font-size:14px}
nav a:hover{
color:white
}
